.container {
    display: flex;
    flex-wrap: wrap;
    background-color: DodgerBlue;
    
}

.container div {
  background-color: hsl(0, 40%, 98%);
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  flex-basis: 19%;
  flex-grow: 1;   
}
h2 {
  text-align: center;
}