body{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 12px;
    background-color: whitesmoke
   
}
.container {
    width: 57%;
    background-color: white;
    height: auto;
    margin: auto; 
    padding-top: 10px;
    padding-bottom: 0px;
    border-bottom: 1px solid;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    
}
.header h5 {
   color: red;
   margin-top: 0 auto solid grey;
   
  
}
.header{
    margin: 25px; 
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: black;
    border-bottom: 4px solid red; 
     
  }
.navbar ul li a {
    padding: 10px 16px;
    text-decoration: none;
    color: white;
    display: block;
    border-left: 1px solid hsla(0, 1%, 55%, 0.718);
    font-size: 10px;
    font-weight: 900;

}
.navbar ul li a:hover {
    background-color: red;
}
.navbar ul li a:active {
    background-color: red;
}

.main h2 a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.main p {
    border-bottom: 1px solid rgb(219, 230, 228);
    padding-bottom: 20px;
    
   
}
.main a:hover {
    color: red;
}
.layout {
    display: flex;
    padd
    

}
.main {
    display: flex;
    flex:2;
    flex-direction: column;
    padding-left: 15px;
    margin-top: 0px;
}
.box {
    border: 1px solid whitesmoke;
    border-radius: 3px;
    padding:20px;
    background-color: whitesmoke;
    margin: opx;
}
.box input {
    border: none;
    padding; 10px 20px;
    width: 100%
}
.sidebar {
    flex: 1;
    padding: 15px;
}
.sidebar ul {
    list-style-type: none;
    padding: 0px;
    
}
.sidebar ul li a {
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
    display: block;
    border-bottom: 1px dotted rgb(102, 86, 86, 60%);
    padding-bottom: 10px;
    padding-top: 10px;
   
}
.sidebar ul li a:hover {
      color: rgb(233, 85, 82);
      
}
.sidebar h4 {
    border-bottom: 3px solid red;
    padding: 0 0 8px 0;

}
.footer {
    background-color: black;
    padding-top: 0px;
    padding-bottom: 1px;
    border-top: 2px solid #999;
    

}
.footer p {
    text-decoration: none;
    color: rgb(161, 134, 134);
    padding-left: 20px;
}
.button {
   padding: 20px;
}
.button1 {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
}
.button2 {
    padding: 8px;
    border: none;
}
.button1:hover {
    background-color: red;;
}
.button2:hover{
    background-color: red;
}
.main h5 img {
    width: 10px;
    height: 10px;
    padding-right: 5px;
}
.main h5 {
    font-weight: 100;
   
}
.bold {
    color: white;
}



  
 

    
    
    
    

